.goalDetails_header {
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.goalDetails_body {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.goalDetails_footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    font-size: .8rem;

    span {
        font-weight: 600;
    }
}
